---
import "#src/base.css";
import { name, occupation, about } from "#src/information.json";
import Experience from "#components/Section/Experience.astro";
import Header from "#components/Section/Header.tsx";
import Education from "#components/Section/Education.astro";
import Miscellaneous from "#components/Section/Miscellaneous.astro";
import Project from "#components/Section/Project.astro";
import Aside from "#components/Section/Aside.astro";
import Name from "#components/Information/Name.tsx";
import Occupation from "#components/Information/Occupation.tsx";

function formatDescription() {
  return about.reduce((previous, current) => `${previous}${current}`, "");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{name} - {occupation}</title>
    <meta name="description" content={formatDescription()} />
    <meta name="author" content={name} />
    <meta
      name="keywords"
      content="Web Developer, Curriculum Vitae, Resume, HTML, CSS, JavaScript, TypeScript, React, PHP, Laravel"
    />

    <link rel="preload" as="image" href="/noise.webp" />
    <link
      rel="preload"
      as="font"
      href="/fonts/Montserrat.ttf"
      type="font/ttf"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="bg-neutral-200 leading-6 text-neutral-950 bg-noise lg:grid lg:grid-cols-[2fr_1fr] dark:text-neutral-50 dark:bg-neutral-800"
  >
    <Header client:media="(max-width: 1023px)" />
    <Aside />
    <main
      class="lg:order-1 dark:relative dark:after:absolute dark:after:inset-0 dark:after:bg-neutral-800 dark:after:opacity-95 dark:after:-z-10"
    >
      <Name className="hidden lg:block mt-6 ms-6">
        {name}
      </Name>
      <Occupation className="hidden lg:block ms-6">
        {occupation}
      </Occupation>
      <Experience />
      <Project />
      <Education />
      <Miscellaneous />
    </main>
  </body>
</html>

<script>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
