---
import { getEntry } from "astro:content";
import Section from "./Section.astro";
import formatMiscellaneousList from "../utils/formatMiscellaneousList";

const technical = await getEntry("technical", "index");
const framework = await getEntry("framework", "index");
const tool = await getEntry("tool", "index");
const language = await getEntry("language", "index");
const interest = await getEntry("interest", "index");
---

<Section>
  <dl
    class="[&>dd]:font-bold [&>dt]:ml-4 [&>dt]:text-sm [&>dt:not(:last-child)]:mb-4 md:grid md:grid-cols-[25%_1fr] md:gap-x-4"
  >
    <dd>TECHNICAL</dd>
    <dt>{formatMiscellaneousList(technical.data.list)}</dt>
    <dd>LIBRARY/FRAMEWORK</dd>
    <dt>{formatMiscellaneousList(framework.data.list)}</dt>
    <dd>TOOL</dd>
    <dt>{formatMiscellaneousList(tool.data.list)}</dt>
    <dd>LANGUAGE</dd>
    <dt>{formatMiscellaneousList(language.data.list)}</dt>
    <dd>INTEREST</dd>
    <dt>{formatMiscellaneousList(interest.data.list)}</dt>
  </dl>
</Section>
