---
import type { DataEntryMap } from "astro:content";
import { getEntry } from "astro:content";

type Props = { organization: keyof DataEntryMap["organization"] };
const { organization } = Astro.props;

const {
  data: {
    position,
    name,
    location,
    duration: { from, to },
  },
} = await getEntry("organization", organization);

const formatter = new Intl.DateTimeFormat("en-PH", {
  year: "numeric",
  month: "long",
});

function formatDuration() {
  if (!to) return `${formatter.format(from)} - Present`;
  return `${formatter.format(from)} - ${formatter.format(to)}`;
}
---

<div class="flex whitespace-nowrap gap-x-2 flex-wrap font-bold">
  {position && <strong class="font-black">{position},</strong>}
  <h4>{name}</h4>
  <span class="text-gray-9">{location}</span>
  <span class="basis-full text-gray-9">
    {formatDuration()}
  </span>
</div>
