---
import formatOrganizationDate from "@utils/formatOrganizationDate";
import { getEntry } from "astro:content";
const { organization: organizationProps } = Astro.props;

const organization = await getEntry<"organization", "">(organizationProps);

if (!organization) return;

const {
  data: { name, position, location, mode, durationFrom, durationTo },
} = organization;

function getLocationAndMode() {
  if (!mode) return location;

  return `${location} | ${mode}`;
}
---

<div
  class="[&>*]:whitespace-nowrap [&>*]:leading-[1.375rem] [&>span]:text-neutral-950/50 flex flex-wrap gap-x-2 items-baseline dark:[&>span]:text-neutral-200/50"
>
  {position && <strong class="text-lg font-black">{position},</strong>}
  <h4 class="text-lg font-bold">{name}</h4>
  <span class="text-sm font-bold">{getLocationAndMode}</span>
  <span class="w-full text-sm font-bold"
    >{formatOrganizationDate({ durationFrom, durationTo })}</span
  >
</div>
