---
import { list as technicalList } from "#src/technical.json";
import { list as frameworkList } from "#src/framework.json";
import { list as toolList } from "#src/tool.json";
import { list as languageList } from "#src/language.json";
import { list as interestList } from "#src/interest.json";
import Section from "#components/Section/index.astro";
import DataTerm from "#components/Miscellaneous/DataTerm.astro";
import DataDescription from "#components/Miscellaneous/DataDescription.astro";

const formatter = new Intl.ListFormat("en", {
  style: "long",
  type: "conjunction",
});
---

<Section>
  <DataTerm>Technical</DataTerm>
  <DataDescription>{formatter.format(technicalList)}</DataDescription>
  <DataTerm>Framework</DataTerm>
  <DataDescription>{formatter.format(frameworkList)}</DataDescription>
  <DataTerm>Tool</DataTerm>
  <DataDescription>{formatter.format(toolList)}</DataDescription>
  <DataTerm>Language</DataTerm>
  <DataDescription>{formatter.format(languageList)}</DataDescription>
  <DataTerm>Interest</DataTerm>
  <DataDescription>{formatter.format(interestList)}</DataDescription>
</Section>
